@model TechnicalTestScaffoldDeveloper.Models.CardsModel
@{
    ViewData["Title"] = "Card game";
}

<h3>Choose your @Model.CardNumberRequired card</h3>

<div class="row">
    @foreach (var card in Model.CardButtons)
    {
        <div class="col-md-1">
            <h2>
                @Html.ActionLink(card.ToString(), "Index", "Home", new { data = card }, null)
            </h2>
        </div>
    }
</div>
<br>
<p>
    Rules:
    <ul>
        <li>Choose 5 cards</li>
        <li>Each combination of cards within your set that add to 15 will earn a extra point</li>
        <li>Pairs, triples and quadruples earn extra 2, 3 and 4 points repectively</li>
    </ul>
</p>
<p>Fun facts & cheats</p>
@Html.ActionLink("Numbers for zero score", "FindZeroScore", "Home")
<br />
@Html.ActionLink("Number of sets of cards which equal 15", "CountScoresThatEqualValues", "Home")
